{% extends 'base.html' %}

{% block title %}Diplomantky.cz{% endblock %}

{% block content %}
  {% for exhibition in exhibitions %}
  <div class="contitem">
    
    <div class="exhibition half">
      <h1><span>➔</span> Výstava {{ exhibition.url }}</h1>
    </div>

    <div class="graduates half">
      <h1><span>➔</span> Diplomantky {{ exhibition.url }}</h1>
      {% for graduate in exhibition.artists.all %}
          <a href="{{graduate.first_name}}-{{graduate.last_name}}" class="graduate button">
            {{ graduate.first_name }} {{ graduate.last_name }}
          </a>
      {% endfor %}
    </div>

  </div>
  {% endfor %}
{% endblock %}
